SUPABASE_URL=https://xjorcbktjgkzriectrda.supabase.co/rest/v1/
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhqb3JjYmt0amdrenJpZWN0cmRhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE0MzM2MDIsImV4cCI6MjA5NzAwOTYwMn0.L0Cy980lUrnuvIDweCtIe77pk-tD7SpAcjOJaPi3Iak
FLASK_SECRET_KEY=watchmate-secret-key-2026-dev
